asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.2
crispy-bootstrap4==2023.1
Django==4.2.6
django-cleanup==8.0.0
django-crispy-forms==2.1
django-requests==0.0.2
idna==3.4
lxml==4.9.3
numpy==1.26.1
pandas==2.1.2
Pillow==10.0.1
python-dateutil==2.8.2
python-pptx==0.6.23
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.7
XlsxWriter==3.1.9